@page "/signup"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using BlazerWebApp.Data
@using Microsoft.EntityFrameworkCore
@using WebbApp.Filters

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager

<PageTitle>Register</PageTitle>


<section id="signup">
    <div class="container">


        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <div class="alert alert-danger">
                @ErrorMessage
            </div>
        }


        <EditForm Model="Input" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="RegisterUser" FormName="signup">
            <DataAnnotationsValidator />


            <h1>Create Account</h1>
            <p>Already have an account? <a href="/signun">Sign up here</a></p>
            <div class="content">

                <div id="form-firstname" class="input-group">
                    <label>First name</label>
                    <InputText @bind-Value="Input.FirstName" class="form-control" autocomplete="givenname" aria-required="true" placeholder="Enter your first name" />
                    <ValidationMessage For="() => Input.FirstName" />
                </div>

                <div id="form-lastname" class="input-group">
                    <label>Last name</label>
                    <InputText @bind-Value="Input.LastName" class="form-control" autocomplete="surname" aria-required="true" placeholder="Enter your last name" />
                    <ValidationMessage For="() => Input.LastName" />

                </div>
                <div id="form-email" class="input-group">
                    <label>Email</label>
                    <InputText @bind-Value="Input.Email" type="email" class="form-control" autocomplete="email" aria-required="true" placeholder="Enter your email" />
                    <ValidationMessage For="() => Input.Email" />

                </div>
                <div id="form-password" class="input-group">
                    <label>Password</label>
                    <InputText @bind-Value="Input.Password" type="password" class="form-control" autocomplete="password" aria-required="true" placeholder="Enter your password" />
                    <ValidationMessage For="() => Input.Password" />

                </div>
                <div id="form-confirmpassword" class="input-group">
                    <label>Confirm password</label>
                    <InputText @bind-Value="Input.ConfirmPassword" type="password" class="form-control" autocomplete="confirm" aria-required="true" placeholder="Confirm your password" />
                    <ValidationMessage For="() => Input.ConfirmPassword" />
                </div>

                <div id="form-checkbox" class="checkbox-group">
                    <InputCheckbox @bind-Value="Input.TermsAndConditions" autocomplete="terms" aria-required="true" />
                    <label>I accept the Terms & Conditions</label>
                </div>
                <ValidationMessage For="() => Input.TermsAndConditions" />


                <div id="form-button">
                    <button class="btn-theme-s" type="submit"><i class="fa-regular fa-arrow-left-to-bracket"></i>Sign up</button>
                </div>

            </div>
        </EditForm>

    </div>
</section>



@code {

    private string? ErrorMessage { get; set; }

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }


    public async Task RegisterUser(EditContext editContext)
    {
        var user = new ApplicationUser { 
            FirstName = Input.FirstName,
            LastName = Input.LastName,
            UserName = Input.Email, 
            Email = Input.Email,
        };

        if(await UserManager.Users.AnyAsync(x => x.Email == user.Email)){
            ErrorMessage = "Email already in use.";
        }
        
        var result = await UserManager.CreateAsync(user, Input.Password);

        if (!result.Succeeded)
        {
            return;
        }

        if (UserManager.Options.SignIn.RequireConfirmedAccount)
        {
            NavigationManager.NavigateTo($"/confirm?email={user.Email}");
        }

        await SignInManager.SignInAsync(user, isPersistent: false);
        NavigationManager.NavigateTo(ReturnUrl ?? "/");

    }

    // private sealed class InputModel
    // {
    //     [Required]
    //     [Display(Name = "First name")]
    //     public string FirstName { get; set; } = null!;

    //     [Required]
    //     [Display(Name = "Last name")]
    //     public string LastName { get; set; } = null!;

    //     [Required]
    //     [EmailAddress]
    //     [Display(Name = "Email")]
    //     public string Email { get; set; } = null!;

    //     [Required]
    //     [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
    //     [DataType(DataType.Password)]
    //     [Display(Name = "Password")]
    //     public string Password { get; set; } = null!;

    //     [DataType(DataType.Password)]
    //     [Display(Name = "Confirm password")]
    //     [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
    //     public string ConfirmPassword { get; set; } = null!;

    //     [CheckboxRequired]
    //     [Display(Name = "I agree to the Terms & Conditions.")]
    //     public bool TermsAndConditions { get; set; }
    // }

    public class InputModel
    {
        [Required]
        [Display(Name = "First name")]
        public string FirstName { get; set; } = null!;

        [Required]
        [Display(Name = "Last name")]
        public string LastName { get; set; } = null!;

        [Required]
        [EmailAddress]
        [Display(Name = "Email")]
        public string Email { get; set; } = null!;

        [Required]
        [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "Password")]
        public string Password { get; set; } = null!;

        [DataType(DataType.Password)]
        [Display(Name = "Confirm password")]
        [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = null!;

        [CheckboxRequired]
        [Display(Name = "I agree to the Terms & Conditions.")]
        public bool TermsAndConditions { get; set; }
    }


} 