@inherits LayoutComponentBase
@layout AccountLayout


<div class="mega-div">
    <div class="container">
        <section id="account-details">

            <aside>
                <div class="profile-info">
                    <BlazerWebApp.Components.Sections.ProfileAccount user="user" />
                    <ManageNavMenu />
                </div>
            </aside>

            <div class="details">
                @Body
            </div>
        </section>
    </div>
</div>

@code{
    [CascadingParameter]
    private ApplicationUser user { get; set; } = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await LoadUserDataAsync();
    }

    private async Task LoadUserDataAsync()
    {
        user = await UserManager.GetUserAsync(HttpContext.User) ?? null!;
    }
}